.menu{
    width: 1440px;
height: 31px;
background:#000AFF;
   
}
.menu-texto{
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.cabecalho{
    width: 1440px;
    height: 123px;
    background: #000AFF;
}

.cabecalho-texto{
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
.corpo{
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    
    width: 1440px;
    height: 640px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #000AFF 0%, rgba(0, 10, 255, 0.00) 100%);
}
corpo-img{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
.corpo-itens{

    text-align: center;
    padding: 16px 0;
}
.corpo-itens-img{
    width: 182px;
}
.rodape{
    width: 1440px;
height: 114px;
flex-shrink: 0;
background: linear-gradient(180deg, #28AE96 43.23%, rgba(40, 174, 150, 0.00) 100%);
}
.rodape-texto{
    color: #000;
font-size: 20px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 6px;
}